{% extends 'base.html' %}

{% block body %}
<div class="container"  >

    <p><b>
    <h4>
        Our website aims to create a versatile platform that caters to diverse user needs. With a primary focus 
        on education and knowledge sharing, the platform offers the following features:
        <br>
        <br>
        •	Subject notes and file storage: Users can easily upload, organize, and access their subject notes and 
        other files.<br><br>
        •	Q/A Section : Users can find answers to their questions and contribute by helping others with their 
        answers.<br><br>
        •	Email functionality: An integrated email creator allows users to send emails conveniently within the 
        platform.<br><br>
        •	Content generation: The platform utilizes advanced algorithms to generate relevant content based on
        user inputs.<br><br>
    
         
        This website serves as a centralized hub for students, professionals, and individuals seeking a seamless
        experience in accessing educational resources, exchanging knowledge, and collaborating with others.
        The user-friendly interface and comprehensive features make it an ideal platform for enhancing learning,
        communication, and content generation.
        
    </b> 
    </h4>
    </p>
    <div>

{% endblock body %}