{% extends 'base.html' %}


{% block body %}


{% if messages %}
    {% for message in messages %}
        <div class="alert {% if message.tags == 'error' %} alert-danger {% else %} alert-{{ message.tags }} {% endif %} alert-dismissible fade show" role="alert">
            {{ message | safe }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}
<section>
    
        <div class="moto">
            <pre><i><b>
                "Welcome to our versatile education hub, 
                empowering students, professionals, and
                individuals with seamless access to educational
                resources,collaborative knowledge-sharing,
                and innovative content generation..."</b></i>
                <a href="{% url 'authuser:login' %}"><button class="transparent-button">JOIN US!</button></a>
            </pre>
        </div>
        
</section>
<div>
    
</div>

{% endblock body %}