{% extends 'base.html' %}
{% block body %}


<div class="container bg-dark mt-4">
	<div class="d-flex flex-column">
		<div class="bg-light">
			<div class="mt-1 question_title" id="Question" style="display: flex; align-items: center;">
				<a class="" href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque recusandae at reprehenderit blanditiis exercitationem illo. Sapiente magni illum harum dolor excepturi similique maxime error repellat qui repellendus! Consequuntur, dicta odit.</a>
			</div>
		</div>
		<div class="bg-danger">
			spsp
		</div>
		<div class="bg-secondary">
			spsp
		</div>
	</div>

</div>































<!-- 
<div class="container my-4">
	<div class="row">
		<div class="col-lg-8">

			<div class="question-details">
				<h3>Question Details</h3>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero.
					Sed cursus ante dapibus diam. Sed nisi.
				</p>
				<div class="tags mt-3">
					<span class="badge badge-primary">python</span>
					<span class="badge badge-primary">django</span>
				</div>
			</div>

			<h3 class="mt-4">Answers</h3>
			

			<div class="answer">
				<p>Answered by <a href="#">Jane Smith</a> on October 16, 2023</p>
				<p>
					Nullam a velit vestibulum, posuere urna non, cursus nisl. Fusce volutpat, arcu et auctor
					vulputate, erat libero ultricies tortor, ac venenatis neque erat sit amet risus.
				</p>
			</div>


			<div class="answer">
				<p>Answered by <a href="#">Bob Johnson</a> on October 17, 2023</p>
				<p>
					Mauris bibendum est ac velit fringilla, nec tristique massa tincidunt. Aliquam erat volutpat.
					Fusce at ex nec tortor scelerisque lacinia. Suspendisse potenti.
				</p>
			</div>



			<h3 class="mt-4">Your Answer</h3>
			<form>
				<div class="form-group">
					<textarea class="form-control" rows="4" placeholder="Write your answer here"></textarea>
				</div>
				<button type="submit" class="btn btn-primary">Submit Answer</button>
			</form>
		</div>
		<div class="col-lg-4">

		</div>
	</div>
</div> -->

{% endblock body %}