<!-- Read Only content -->
                    <div class="card-body" id="Read_only_content">
                        <div class="row">
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <h6 class="mb-0">First Name</h6>
                                    </div>
                                    <div class="col-sm-7 text-secondary d-flex justify-content-between pe-5">
                                        {{user.first_name}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <h6 class="mb-0">Last Name</h6>
                                    </div>
                                    <div class="col-sm-7 text-secondary   d-flex justify-content-between pe-5">
                                        {{user.last_name}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-5">
                                <h6 class="mb-0">Username</h6>
                            </div>
                            <div class="col-sm-7 text-secondary">
                                {{user.username}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-5">
                                <h6 class="mb-0">Email</h6>
                            </div>
                            <div class="col-sm-7 text-secondary">
                                {{user.email}}
                            </div>
                        </div>
                        <hr>
                        {% if user == request.user %}
                        <div class="row">
                            <div class="col-sm-5">
                                <h6 class="mb-0">App Password</h6>
                            </div>
                            <div class="col-sm-7 text-secondary">
                                {{user.app_password}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-5">
                                <h6 class="mb-0">Openai api key</h6>
                            </div>
                            <div class="col-sm-7 text-secondary text-truncate">
                                {{user.openai_api_key}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-5">
                                <h6 class="mb-0">Total Token Used</h6>
                            </div>
                            <div class="col-sm-7 text-secondary">
                                {{user.total_token_used}}
                            </div>
                        </div>
                        <hr>
                        {% endif %}
                        <div class="row">
                            <div class="col-sm-5">
                                <h6 class="mb-0">Bio</h6>
                            </div>
                            <div class="col-sm-7 text-secondary" style="text-align:justify; max-height:60px; overflow:scroll; overflow-y:auto; overflow-x:auto">
                                {% if not user.bio %}
                                    ----    ----    ----    ----    ----    ----    ----    ----    ----    ----    ----    ----
                                {% endif %}
                                    {{user.bio}}
                            </div>
                        </div>
                        <hr>
                        {% if user == request.user %}
                            <div class="row">
                                <div class="col-sm-12">
                                    <a class="btn btn-info "
                                        href="{% url "authuser:userUpdate" %}">Edit</a>
                                </div>
                            </div>
                        {% endif %}
                    </div>