{% include 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
        <link rel="stylesheet" href="{% static 'style2.css' %}"> 
    
</head>
<body>
    <div class="navbar2">
        {% if user.is_authenticated %}
            <a class="button" href="{% url 'notes:search_posts' %}">Posts</a>
            <a class="button" href="{% url 'notes:file_upload' %}">Upload File</a>
            <a class="button" href="{% url 'notes:file_list' %}">File List</a>
            <a class="button" href="{% url 'authuser:logout' %}">Logout</a>
        {% else %}
            <a class="button" href="{% url 'authuser:login' %}">Login</a>
            <a class="button" href="{% url 'authuser:register' %}">Register</a>
        {% endif %}
        {% block mss %}
        {% endblock mss %}
    </div>
</body>
</html>


