{% extends 'base.html' %}
{% block body %}

{% if messages %}
    {% for message in messages %}
        <div class="alert {% if message.tags == 'error' %} alert-danger {% else %} alert-{{ message.tags }} {% endif %} alert-dismissible fade show" role="alert">
            {{ message | safe }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}

<!-- Question Details Section -->
	<div class="container mt-4">
		<div class="ps-2 pe-5 pb-3" style="background-color: #ffffff;">
			<div class="display-6 ps-5 pt-4 ms-5" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight:500; font-size:xx-large;">{{question.title}}</div>
			<p class="ps-5 pt-1 ms-5 d-flex justify-content-between align-item-start" style="font-size: 20px; font-style: italic; color: rgb(54, 54, 54);">
				<span class="">
					<span class="px-1">Asked {{question.created_ago}}</span> 
					<span class="px-1">|</span>
					<span class="px-1">Viewed {{question.views.all|length}} 
					{% if question.views.all|length > 1 %} times {% else %} time {% endif %} </span>
				</span>	
				<span class="mx-3">By <a href="{% url "authuser:user_profile" question.author.id %}">{{question.author.first_name}}</a></span>
			</p>
			<!-- Voting Question -->
			<div class="container">
				<div class="row">
					<div class="col-1">
						<div class="d-flex flex-column align-items-center">
							<a href="{% url "QandA:UpvoteQuestion" question.id %}" class="btn btn-light border-primary upvote-link mb-0"> 
								<i class="fas fa-arrow-up text-primary"></i> 
							</a>
							<span class="mt-0" id="total-votes">{{question.total_votes}}</span>
							<a href="{% url "QandA:DownvoteQuestion" question.id %}" class="btn btn-light border-primary downvote-link mb-0">
								<i class="fas fa-arrow-down text-danger"></i>
							</a>
						</div>
					</div>
					<div class="col-11" style="background-color: #efefef; font-size:15px">
						<p>{{question.description | safe}}</p>
					</div>
				</div>
			</div>
		</div>

		<!-- Answers Section -->
		<div class="fs-3">
			{{answers|length}} Answers
		</div>	
		{% for answer in answers %}
		<div class="py-4 ps-2 pe-5" style="background-color: #ffffff;">
			<div class="fs-5 ms-5 ps-5 row">
				<div class="col-6 d-flex justify-content-start ps-0 text-dark">
					By:<a href="{% url "authuser:user_profile" answer.author.id %}">&nbsp;{{answer.author.first_name}}</a>
				</div>
				{% if request.user == answer.author  %}
				<div class=" col-6 d-flex justify-content-end">
					<button type="button" class="btn btn-link p-1 d-none" id="load_update_modal" value='{{update_flag}}' data-bs-toggle="modal" data-bs-target="#editmodal">
						update
					</button>
					<button type="button" id="edit" class="btn btn-link p-1" onclick="redirect('{% url "QandA:update_answer" answer.id %}')" >
						Edit
					</button>
					<button type="button" id="delete_button{{answer.id}}" class="btn btn-link p-1" data-bs-toggle="modal" onclick="updatebuttonvalue('delete_button{{answer.id}}')" value='{{answer.id}}' data-bs-target="#deletemodal">
						Delete
					</button>

				</div>
				{% endif %}
			</div>
			<div class="container">
				<div class="row">
					<div class="col-1">
						<div class="d-flex flex-column align-items-center">
							<a href="{% url "QandA:UpvoteAnswer" answer.id %}" class="btn btn-light border-primary mb-0 upvote-ans-link"> 
								<i class="fas fa-arrow-up text-primary"></i> 
							</a>
							<span class="mt-0" id="total-ans-votes">{{answer.total_votes}}</span>
							<a href="{% url "QandA:DownvoteAnswer" answer.id %}" class="btn btn-light border-primary mb-0 downvote-ans-link">
								<i class="fas fa-arrow-down text-danger"></i>
							</a>
						</div>
					</div>
					<div class="col-11" style="background-color: #efefef; font-size:15px">
						<p>{{answer.content | safe}}</p>
					</div>
				</div>
			</div>
		</div>
		<hr>
		{% endfor %}

		{% include "delete_answer_modal.html" %}
		
		{% include "edit_answer_modal.html" %}

		<!-- Answer Form -->
		{% include "answer_form.html" %}
		
	</div>



<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    function updatebuttonvalue(id) {
        // Get the value of Button 1
        var button1Value = document.getElementById(id);
		console.log(button1Value.value)
        // Set the value of Button 2 to be the same as Button 1
        document.getElementById('delete_ans').value=button1Value.value;
    }

	function redirect(url){
		console.log(url);
		window.location.href = url;
	}
	
	window.onload = function(){
		btn = document.getElementById('load_update_modal')
		if(btn.value === 'True'){
			btn.click()
		}
	}


	// JavaScript to handle voting with AJAX
	$(document).ready(function () {
		function vote(url, callback) {
			$.ajax({
				type: "POST",
				url: url,
				data: {
					csrfmiddlewaretoken: '{{ csrf_token }}'
				},
				success: function (data) {
					callback(data);
				},
				error: function (error) {
					console.log(error);
				}
			});
		}

		// Attach the function to the upvote and downvote links
		$('.upvote-link').click(function (e) {
			e.preventDefault();
			var url = $(this).attr('href');
			vote(url, function (data) {
				// Update the UI, e.g., total votes count
				$('#total-votes').text(data.total_votes);
				console.log(data);
			});
		});

		$('.downvote-link').click(function (e) {
			e.preventDefault();
			var url = $(this).attr('href');
			vote(url, function (data) {
				// Update the UI, e.g., total votes count
				$('#total-votes').text(data.total_votes);
				console.log(data.total_votes);
			});
		});

		$('.upvote-ans-link').click(function (e) {
			e.preventDefault();
			var url = $(this).attr('href');
			vote(url, function (data) {
				// Update the UI, e.g., total votes count
				$('#total-ans-votes').text(data.total_votes);
				console.log(data);
			});
		});

		$('.downvote-ans-link').click(function (e) {
			e.preventDefault();
			var url = $(this).attr('href');
			vote(url, function (data) {
				// Update the UI, e.g., total votes count
				$('#total-ans-votes').text(data.total_votes);
				console.log(data.total_votes);
			});
		});
	});
</script>
{% endblock body %}