{% extends 'base.html' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-4">
            <table style="text-align: center;">
            {% for tag in tags %}            
                <tr>
                    <td style="border: 2px solid black;">
                        {{forloop.counter}}
                    </td>
                    <td style="border: 2px solid black;">
                        {{tag.tag_cat.all}}
                    </td>
                    <td style="border: 2px solid black;">
                        {{tag.name}}
                    </td>
                </tr>
                {% endfor %}
            </table>

        </div>
    </div>
</div>
    
{% endblock body %}