{% extends 'base.html' %}
{% block body %}

<!-- Question Details Section -->
<div class="container mt-4">

	<div class="p-5" style="background-color: #ffffff;">
		<h2 class="display-6 fw-bolder">{{question.title}}</h2>
		<p class="lead">By {{question.author.first_name}} | {{question.created_at}}</p>
		<div class="d-flex justify-content-between align-items-center">
			
		</div>
		<hr class="my-4">
		<div class="container">
			<div class="row">
				<div class="col-1">
					<div class="d-flex flex-column align-items-center">
						<button type="button" class="btn btn-light border-primary mb-2">
							<i class="fas fa-arrow-up text-primary"></i>
						</button>
						<span class="mt-2">105</span>
						<button type="button" class="btn btn-light border-danger">
							<i class="fas fa-arrow-down text-danger"></i>
						</button>
						<!-- Display the upvote and downvote counts for the answer -->
					</div>
				</div>
				<div class="col-11" style="background-color: #efefef;">
					<p>{{question.description | safe}}</p>
				</div>
			</div>
		</div>
	</div>

	<!-- Answers Section -->
	<div class="fs-3">
		{{answers|length}} Answers
	</div>	
	{% for answer in answers %}
	<div class="p-5" style="background-color: #ffffff;">
		<div class="fs-4 ms-5 ps-5">
			By: {{answer.author.first_name}}
			<button type="button" class="btn btn-light border-danger">
				Edit
			</button>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-1">
					<div class="d-flex flex-column align-items-center">
						<button type="button" class="btn btn-light border-primary mb-2">
							<i class="fas fa-arrow-up text-primary"></i>
						</button>
						<span class="mt-2">105</span>
						<button type="button" class="btn btn-light border-danger">
							<i class="fas fa-arrow-down text-danger"></i>
						</button>
					</div>
				</div>
				<div class="col-11" style="background-color: #efefef;">
					<p>{{answer.content | safe}}</p>
				</div>
			</div>
		</div>
	</div>
	<hr>
	{% endfor %}

	<!-- Answer Form -->
	<div class="card mt-4" style="background-color: #ffffff;">
		<div class="card-body">
			<h4 class="card-title">Your Answer</h4>
			<form>
				<div class="form-group">
					<label for="answerTextarea">Write your answer:</label>
					<textarea class="form-control" id="answerTextarea" rows="4" required></textarea>
				</div>
				<button type="submit" class="btn btn-primary">Submit Answer</button>
			</form>
		</div>
	</div>
</div>


{% endblock body %}